<div class="container">
    <div class="section-settings fonts">
        <h1>Headline h1</h1>
        <h2>Headline h2</h2>
        <h3>Headline h3</h3>
        <h4>Headline h4</h4>
        <h5>Headline h5</h5>
    </div>
    <div class="section-settings body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis
            consequat dui in ultricies. Maecenas iaculis aliquet iaculis. Maecenas magna mi,
            pulvinar sed malesuada nec, convallis euismod libero.</p>
    </div>
    <div class="section-settings buttons">
        <div class="btn-container">
            <a href="#" class="btn">
                <span>My button default</span>
            </a>
            <a href="#" class="btn btn-style-1">
                <span>My button 1</span>
            </a>
            <a href="#" class="btn btn-style-2">
                <span>My button 2</span>
            </a>
            <a href="#" class="btn btn-style-3">
                <span>My button 3</span>
            </a>
            <a href="#" class="btn btn-style-4">
                <span>My button 4</span>
            </a>
        </div>
    </div>
    <div class="section-settings forms">
        <form>

            <div class="mb-3 js-form-item form-item">
                <label for="edit-name" class="js-form-required form-required">Your Name</label>
                <input type="text" class="form-text required form-control"/></div>
            <div
                class="mb-3 js-form-item form-item js-form-type-email form-item-email js-form-item-email">
                <label for="edit-email" class="js-form-required form-required">Your Email</label>
                <input type="email" class="form-email form-control"/></div>
            <div
                class="mb-3 js-form-item form-item js-form-type-textfield form-item-subject js-form-item-subject"></div>
            <div
                class="mb-3 js-form-item form-item js-form-type-textarea form-item-message js-form-item-message">
                <label for="edit-message" class="js-form-required form-required">Message</label>
                <div>
                    <textarea
                        data-drupal-selector="edit-message"
                        id="edit-message"
                        name="message"
                        rows="5"
                        cols="60"
                        class="form-textarea required form-control"
                        required="required"
                        aria-required="true"></textarea>
                </div>

            </div>
            <div
                data-drupal-selector="edit-actions"
                class="form-actions webform-actions js-form-wrapper form-wrapper"
                id="edit-actions">
                <input class="form-submit button" type="submit" value="Send message"/>
            </div>

        </form>
    </div>
</div>