<div id="top-panel">
    <button id="btn-desktop" class="btn-top-panel active" data-bs-toggle="tooltip" data-bs-placement="bottom" data-query="desktop" title="Desktop">
      <i class="las la-desktop"></i> 
    </button>
    <button id="btn-tablet" class="btn-top-panel" data-bs-toggle="tooltip" data-bs-placement="bottom" data-query="tablet" title="Tablet">
      <i class="las la-tablet-alt"></i>
    </button>
    <button id="btn-mobile" class="btn-top-panel" data-bs-toggle="tooltip" data-bs-placement="bottom" data-query="mobile" title="Mobile">
      <i class="las la-mobile-alt"></i>
    </button>
    <button class="btn btn-outline-dark btn-small" data-bs-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#showNoahsStructure">
      <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Navigator' | t}}">
        <i class="las la-layer-group"></i>
      </span>
    </button>
    <div class="btn-group ms-4">
      <button id="backButton" class="btn btn-outline-dark btn-small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Prev' | t}}">
        <i class="las la-reply"></i>
      </button>
      <button id="forwardButton" class="btn btn-outline-dark btn-small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Next' | t}}">
        <i class="las la-share"></i>
      </button>
    </div>
    <div id="noahs-window-scale" class="input-group ms-2">
      <input type="number" value="100" max="100" step="5" min="20" class="form-control" />
      <span class="input-group-text">%</span>
    </div>
    <div id="noahs-window-size" class="input-group">
      <input type="number" value="" step="10" min="320" class="form-control" />
      <span class="input-group-text">px</span>
    </div>
</div>
<div id="showNoahsStructure" class="collapse draggable">
    <div class="header">
      <div>{{'Navigator' | t}}</div>
      <button class="btn btn-sm me-2">
        <i class="las la-times"></i>
      </button>
    </div>
    <div class="items"></div>
</div>
<div class="noahs_page_builder_preview-wrapper">
    <div id="pageMessages"></div>
    <div class="noahs_page_builder_preview-content">
        <iframe
            src="{{iframe_url}}"
            id="noahs_page_builder_preview" name="noahs_page_builder_preview"></iframe>
        <div class="l ui-resizable-handle ui-resizable-w resizable-wrapper" id="w"></div>
        <div class="r ui-resizable-handle ui-resizable-e resizable-wrapper" id="e"></div>
    </div>
</div>
<form id="noahs_page_builder_form_builder">
    <div id="widgets_to_remove" data-remove-widgets=""></div>
    <button
        type="button"
        class="btn btn-link btn-sm area_tooltip btn-admin btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        title="{{ 'Page settings' | t}}">
        <i class="las la-tools"></i>
    </button>
    <a href="{{url}}" class="btn btn-outline-info btn-sm ms-2 btn-admin" target="_blank">{{'View page' | t}}</a>
    <a href="/admin/content" class="btn btn-outline-primary btn-sm ms-2 btn-admin" target="_blank">{{'Content page' | t}}</a>
    {% if noahs_pro %}
      <a
      href="/noahs-admin/revisions/{{noahs_id}}/{{entity_type}}/{{langcode}}"
      data-dialog-options="{&quot;width&quot;:400}" 
      data-dialog-type="modal" 
      type="button"
      class="btn btn-outline-info btn-sm ms-2 btn-admin f-admin use-ajax"
      title="{{ 'Revisions' | t}}">
      <i class="las la-bars"></i>
      {{ 'Revisions' | t}}
      </a>
      {% endif %}
    <button type="submit" class="btn btn-success btn-sm ms-2 btn-admin px-4">{{'Save' | t}}</button>
</form>

<!-- Modal Page Settings-->
<div
    class="modal fade"
    id="staticBackdrop">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{'Page Settings' | t}}</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="noahs_page_builder_sttings_page_form">

                    <div class="mb-3 field__color noahs-input--control-css" data-control-type="noahs_color" data-style-type="style" data-style-selector="body" data-style-css="background-color">
                        <label for="background_color" class="form-label">{{'Background Color' |t }}</label>
                        <input class="form-control-color" id="background_color" name="page[background_color]" value="{{page_settings.background_color}}">
                    </div>
                    <div class="mb-3 noahs-input--control-css" data-control-type="select" data-style-type="class" data-style-selector=".noahs-theme-content-wrapper">
                        <label for="pageContainer" class="form-label">{{'Page Container' |t }}</label>
                        <select class="form-control" id="pageContainer" name="page[container]">
                            <option value="full-width" {% if page_settings.container == 'full-width' %}selected{% endif %}>{{'Full Width' |t }}</option>
                            <option value="container" {% if page_settings.container == 'container' %}selected{% endif %}>{{'Container' |t }}</option>
                        </select>
                    </div>
                    <div class="mb-3 noahs-input--control-css" data-control-type="text" data-style-type="style" data-style-selector=".noahs-theme-content-wrapper" data-style-css="max-width">
                        <label for="containerWidth" class="form-label">{{'Custom Container Width' |t }}</label>
                        <input class="form-control" id="containerWidth" name="page[container_width]" value="{{page_settings.container_width}}">
                    </div>
                    <div class="btn-group d-flex justify-content-end">
                        <button type="submit" id="savenoahs_page_builderPageSettings" class="btn btn-success btn-admin">{{ 'Save settings' |t }}</button>
                        <a type="button" class="btn btn-danger btn-admin" data-bs-dismiss="modal">{{ 'Cancel' |t }}</a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal Add Column -->

<div class="modal fade"
    id="noahsAddColumn">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Add Column' | t}}</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% set classes = {
                    'wd-10': '10%',
                    'wd-20': '20%',
                    'wd-30': '30%',
                    'wd-40': '40%',
                    'wd-50': '50%',
                    'wd-60': '60%',
                    'wd-70': '70%',
                    'wd-80': '80%',
                    'wd-90': '90%',
                    'wd-100': '100%'
                } %}

                <div class="noahs_page_builder-column-modal">
                    <ul class="row">
                        {% for key, value in classes %}
                            <li class="column-box {{ key }} area_tooltip" title="{{ value }}" data-column="{{ value }}"></li>
                        {% endfor %}
                        <li class="column-box area_tooltip columns_structure" title="{{ 'Two colums' | t }}" data-column="two_columns"><span></span><span></span></li>
                        <li class="column-box area_tooltip columns_structure" title="{{ 'Three colums' | t }}" data-column="three_columns"><span></span><span></span><span></span></li>
                        <li class="column-box area_tooltip columns_structure" title="{{ 'Four colums' | t }}" data-column="four_columns"><span></span><span></span><span></span><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-admin" data-bs-dismiss="modal">{{ 'Cancel' |t }}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addElementWidgetModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Available widgets' | t}}</h5>
                <div class="input-group noahs-search-widget">
                  <input type="text" id="searchWidget" class="form-control">
                  <span class="input-group-text"><i class="las la-search"></i></span>
                </div>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>
            </div>
            <nav>
                <div class="nav nav-tabs nav nav-tabs justify-content-center mt-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-widgets-tab" data-bs-toggle="tab" data-bs-target="#nav-widgets" type="button" role="tab" aria-controls="nav-widgets" aria-selected="true">Widgets</button>
                    <button class="nav-link" id="nav-globales-tab" data-bs-toggle="tab" data-bs-target="#nav-globales" type="button" role="tab" aria-controls="nav-globales" aria-selected="false">{{ 'Global Widgets' | t }}</button>
                    <button class="nav-link" id="nav-defaults-tab" data-bs-toggle="tab" data-bs-target="#nav-defaults" type="button" role="tab" aria-controls="nav-defaults" aria-selected="false">{{ 'Defauls Widgets' | t }}</button>
                </div>
            </nav>
            <div class="modal-body">
                <div class="tab-content" id="nav-tabContentwidgets">
                    <div class="tab-pane fade show active" id="nav-widgets" role="tabpanel" aria-labelledby="nav-widgets-tab">
                        <div class="noahs_page_builder-element-widget-modal">
                            {% for key, values in widgets %}
                                <h4 class="mb-3">{{key}}</h4>
                                <ul class="row g-3 p-0">
                                    {% for key, value in values %}
                                        <li class="widget-box col-2" data-title="{{value['title']}}">
                                            <div class="widget-box_element widget {{ key }} mb-2 area_tooltip" title="{{ value['description'] }}" data-element="{{ key }}">
                                                {{value.icon | raw}}
                                                <span>{{value['title']}}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>

           
                    <div class="tab-pane fade" id="nav-globales" role="tabpanel" aria-labelledby="nav-globales-tab">
                        <div class="noahs_page_builder-element-widget-modal">
                            <ul class="row g-3 p-0">
                                {% for key, value in globlal_widgets %}
                                    <li class="widget-box col-2">
                                        <div class="widget-box_element global {{ value.id }} mb-2 area_tooltip" title="{{ value.title }}" data-id="{{ value.id }}">
                                            <svg id="fi_5178488" enable-background="new 0 0 450 450" height="512" viewBox="0 0 450 450" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><g><path d="m225 155.36c-22.93 0-45.31-4.17-66.52-12.38-2.97-1.15-4.44-4.48-3.29-7.45s4.48-4.44 7.45-3.29c19.88 7.7 40.86 11.6 62.36 11.6 45.78 0 88.92-17.73 121.48-49.92 2.26-2.24 5.91-2.22 8.15.05 2.24 2.26 2.22 5.91-.05 8.15-34.73 34.33-80.75 53.24-129.58 53.24z" fill="rgb(0,0,0)"></path></g><g><path d="m133 129.86c-1.04 0-2.07-.28-2.97-.83-12.53-7.55-24.17-16.6-34.6-26.92-2.26-2.24-2.28-5.88-.05-8.15 2.24-2.26 5.88-2.28 8.15-.05 9.7 9.59 20.52 18.02 32.16 25.07l.12.06c2.78 1.54 3.79 5.04 2.24 7.82l-.01.02c-.76 1.37-2.04 2.37-3.55 2.77-.5.15-1 .21-1.49.21z" fill="rgb(0,0,0)"></path></g><g><path d="m99.47 357.74c-1.48 0-2.97-.57-4.1-1.71-2.24-2.26-2.22-5.91.05-8.15 30.66-30.31 71.12-48.99 113.93-52.59 1.61-.13 3.2.41 4.38 1.5 1.19 1.09 1.86 2.63 1.86 4.24 0 3.16-2.54 5.74-5.69 5.77-39.97 3.46-77.74 20.95-106.39 49.27-1.11 1.11-2.57 1.67-4.04 1.67z" fill="rgb(0,0,0)"></path></g><g><path d="m350.53 357.74c-1.46 0-2.93-.55-4.05-1.66-28.65-28.32-66.44-45.82-106.41-49.27-3.17-.27-5.52-3.06-5.24-6.23.27-3.17 3.09-5.52 6.23-5.24 42.65 3.68 82.97 22.35 113.52 52.55 2.26 2.24 2.28 5.88.05 8.15-1.13 1.13-2.62 1.7-4.1 1.7z" fill="rgb(0,0,0)"></path></g><g><path d="m225.2 322.18c-11.65 0-21.12-9.47-21.12-21.12s9.47-21.12 21.12-21.12 21.12 9.47 21.12 21.12-9.48 21.12-21.12 21.12zm0-30.72c-5.29 0-9.6 4.31-9.6 9.6s4.31 9.6 9.6 9.6 9.6-4.31 9.6-9.6-4.31-9.6-9.6-9.6z" fill="rgb(0,0,0)"></path></g></g><g><path d="m225 409.32c-101.63 0-184.32-82.69-184.32-184.32s82.69-184.32 184.32-184.32 184.32 82.69 184.32 184.32-82.69 184.32-184.32 184.32zm0-357.12c-95.28 0-172.8 77.52-172.8 172.8s77.52 172.8 172.8 172.8 172.8-77.52 172.8-172.8-77.52-172.8-172.8-172.8z" fill="rgb(0,0,0)"></path></g><g><path d="m225 409.32c-26.88 0-51.84-19.68-70.29-55.42-17.82-34.53-27.63-80.31-27.63-128.9 0-26.37 2.84-51.74 8.46-75.49-6.1-3.71-10.18-10.42-10.18-18.06 0-11.65 9.47-21.12 21.12-21.12.53 0 1.06.02 1.59.06 18.55-44.38 46.42-69.71 76.93-69.71 51.4 0 93.34 72.53 97.57 168.71.14 3.18-2.32 5.87-5.5 6.01-3.16.14-5.87-2.32-6.01-5.5-3.89-88.43-41.69-157.7-86.06-157.7-25.15 0-49.64 23.14-66.1 62.18 5.27 3.84 8.71 10.07 8.71 17.08 0 11.59-9.38 21.03-20.95 21.12-5.35 22.77-8.06 47.1-8.06 72.43 0 46.79 9.36 90.69 26.35 123.62 16.37 31.71 37.69 49.18 60.05 49.18 44.37 0 82.17-69.27 86.06-157.7.14-3.18 2.86-5.61 6.01-5.5 3.18.14 5.64 2.83 5.5 6.01-4.23 96.17-46.17 168.7-97.57 168.7zm-78.52-287.47c-5.29 0-9.6 4.31-9.6 9.6s4.31 9.6 9.6 9.6 9.6-4.31 9.6-9.6-4.3-9.6-9.6-9.6z" fill="rgb(0,0,0)"></path></g><g><path d="m225 409.32c-3.18 0-5.76-2.58-5.76-5.76v-87.14c0-3.18 2.58-5.76 5.76-5.76s5.76 2.58 5.76 5.76v87.14c0 3.18-2.58 5.76-5.76 5.76zm0-117.85c-3.18 0-5.76-2.58-5.76-5.76v-239.27c0-3.18 2.58-5.76 5.76-5.76s5.76 2.58 5.76 5.76v239.27c0 3.18-2.58 5.76-5.76 5.76z" fill="rgb(0,0,0)"></path></g><g><path d="m403.56 230.76h-71.04c-3.18 0-5.76-2.58-5.76-5.76s2.58-5.76 5.76-5.76h71.04c3.18 0 5.76 2.58 5.76 5.76s-2.58 5.76-5.76 5.76zm-101.76 0h-255.36c-3.18 0-5.76-2.58-5.76-5.76s2.58-5.76 5.76-5.76h255.36c3.18 0 5.76 2.58 5.76 5.76s-2.58 5.76-5.76 5.76z" fill="rgb(0,0,0)"></path></g><g><path d="m317.16 246.12c-11.65 0-21.12-9.47-21.12-21.12s9.47-21.12 21.12-21.12 21.12 9.47 21.12 21.12-9.47 21.12-21.12 21.12zm0-30.72c-5.29 0-9.6 4.31-9.6 9.6s4.31 9.6 9.6 9.6 9.6-4.31 9.6-9.6-4.31-9.6-9.6-9.6z" fill="rgb(0,0,0)"></path></g></g></svg>
                                            <span>{{value.title}}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-defaults" role="tabpanel" aria-labelledby="nav-defaults-tab">
                        <div class="noahs_page_builder-element-widget-modal">
                            <ul class="row g-3 p-0">
                                {% for key, value in defaults_widgets %}
                             
                                    <li class="widget-box col-2">
                                        <div class="widget-box_element default {{ value.id }} mb-2 area_tooltip" title="{{ value.title }}" data-id="{{ value.id }}">
                                            <svg id="fi_5178488" enable-background="new 0 0 450 450" height="512" viewBox="0 0 450 450" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><g><path d="m225 155.36c-22.93 0-45.31-4.17-66.52-12.38-2.97-1.15-4.44-4.48-3.29-7.45s4.48-4.44 7.45-3.29c19.88 7.7 40.86 11.6 62.36 11.6 45.78 0 88.92-17.73 121.48-49.92 2.26-2.24 5.91-2.22 8.15.05 2.24 2.26 2.22 5.91-.05 8.15-34.73 34.33-80.75 53.24-129.58 53.24z" fill="rgb(0,0,0)"></path></g><g><path d="m133 129.86c-1.04 0-2.07-.28-2.97-.83-12.53-7.55-24.17-16.6-34.6-26.92-2.26-2.24-2.28-5.88-.05-8.15 2.24-2.26 5.88-2.28 8.15-.05 9.7 9.59 20.52 18.02 32.16 25.07l.12.06c2.78 1.54 3.79 5.04 2.24 7.82l-.01.02c-.76 1.37-2.04 2.37-3.55 2.77-.5.15-1 .21-1.49.21z" fill="rgb(0,0,0)"></path></g><g><path d="m99.47 357.74c-1.48 0-2.97-.57-4.1-1.71-2.24-2.26-2.22-5.91.05-8.15 30.66-30.31 71.12-48.99 113.93-52.59 1.61-.13 3.2.41 4.38 1.5 1.19 1.09 1.86 2.63 1.86 4.24 0 3.16-2.54 5.74-5.69 5.77-39.97 3.46-77.74 20.95-106.39 49.27-1.11 1.11-2.57 1.67-4.04 1.67z" fill="rgb(0,0,0)"></path></g><g><path d="m350.53 357.74c-1.46 0-2.93-.55-4.05-1.66-28.65-28.32-66.44-45.82-106.41-49.27-3.17-.27-5.52-3.06-5.24-6.23.27-3.17 3.09-5.52 6.23-5.24 42.65 3.68 82.97 22.35 113.52 52.55 2.26 2.24 2.28 5.88.05 8.15-1.13 1.13-2.62 1.7-4.1 1.7z" fill="rgb(0,0,0)"></path></g><g><path d="m225.2 322.18c-11.65 0-21.12-9.47-21.12-21.12s9.47-21.12 21.12-21.12 21.12 9.47 21.12 21.12-9.48 21.12-21.12 21.12zm0-30.72c-5.29 0-9.6 4.31-9.6 9.6s4.31 9.6 9.6 9.6 9.6-4.31 9.6-9.6-4.31-9.6-9.6-9.6z" fill="rgb(0,0,0)"></path></g></g><g><path d="m225 409.32c-101.63 0-184.32-82.69-184.32-184.32s82.69-184.32 184.32-184.32 184.32 82.69 184.32 184.32-82.69 184.32-184.32 184.32zm0-357.12c-95.28 0-172.8 77.52-172.8 172.8s77.52 172.8 172.8 172.8 172.8-77.52 172.8-172.8-77.52-172.8-172.8-172.8z" fill="rgb(0,0,0)"></path></g><g><path d="m225 409.32c-26.88 0-51.84-19.68-70.29-55.42-17.82-34.53-27.63-80.31-27.63-128.9 0-26.37 2.84-51.74 8.46-75.49-6.1-3.71-10.18-10.42-10.18-18.06 0-11.65 9.47-21.12 21.12-21.12.53 0 1.06.02 1.59.06 18.55-44.38 46.42-69.71 76.93-69.71 51.4 0 93.34 72.53 97.57 168.71.14 3.18-2.32 5.87-5.5 6.01-3.16.14-5.87-2.32-6.01-5.5-3.89-88.43-41.69-157.7-86.06-157.7-25.15 0-49.64 23.14-66.1 62.18 5.27 3.84 8.71 10.07 8.71 17.08 0 11.59-9.38 21.03-20.95 21.12-5.35 22.77-8.06 47.1-8.06 72.43 0 46.79 9.36 90.69 26.35 123.62 16.37 31.71 37.69 49.18 60.05 49.18 44.37 0 82.17-69.27 86.06-157.7.14-3.18 2.86-5.61 6.01-5.5 3.18.14 5.64 2.83 5.5 6.01-4.23 96.17-46.17 168.7-97.57 168.7zm-78.52-287.47c-5.29 0-9.6 4.31-9.6 9.6s4.31 9.6 9.6 9.6 9.6-4.31 9.6-9.6-4.3-9.6-9.6-9.6z" fill="rgb(0,0,0)"></path></g><g><path d="m225 409.32c-3.18 0-5.76-2.58-5.76-5.76v-87.14c0-3.18 2.58-5.76 5.76-5.76s5.76 2.58 5.76 5.76v87.14c0 3.18-2.58 5.76-5.76 5.76zm0-117.85c-3.18 0-5.76-2.58-5.76-5.76v-239.27c0-3.18 2.58-5.76 5.76-5.76s5.76 2.58 5.76 5.76v239.27c0 3.18-2.58 5.76-5.76 5.76z" fill="rgb(0,0,0)"></path></g><g><path d="m403.56 230.76h-71.04c-3.18 0-5.76-2.58-5.76-5.76s2.58-5.76 5.76-5.76h71.04c3.18 0 5.76 2.58 5.76 5.76s-2.58 5.76-5.76 5.76zm-101.76 0h-255.36c-3.18 0-5.76-2.58-5.76-5.76s2.58-5.76 5.76-5.76h255.36c3.18 0 5.76 2.58 5.76 5.76s-2.58 5.76-5.76 5.76z" fill="rgb(0,0,0)"></path></g><g><path d="m317.16 246.12c-11.65 0-21.12-9.47-21.12-21.12s9.47-21.12 21.12-21.12 21.12 9.47 21.12 21.12-9.47 21.12-21.12 21.12zm0-30.72c-5.29 0-9.6 4.31-9.6 9.6s4.31 9.6 9.6 9.6 9.6-4.31 9.6-9.6-4.31-9.6-9.6-9.6z" fill="rgb(0,0,0)"></path></g></g></svg>
                                            <span>{{value.title}}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-admin" data-bs-dismiss="modal">{{ 'Cancel' |t }}</button>
            </div>
        </div>
    </div>
</div>