<div id="loader">
  <div class="img"><img src="/themes/custom/noahs_theme/logo.svg"></div>
  <span>{{'Loading' | t}}...</span>
</div>

<div id="noahs_overlay">
    <div class="noahs_cv-spinner">
        <span class="noahs_spinner"></span>
    </div>
</div>
<div class="noahs_page_builder-wrapper">
    <div
        id="noahs_page_builder"
        data-noahs_id="{{entity_id}}"
        data-langcode="{{langcode}}">
        <div class="builder-wrapper noahs-theme-content-wrapper scrollme">
            {{ generated_html | raw }}
        </div>
        <div class="add-section">
            <div class="add-section_wrapper btn-group">
                <div class="add-section_wrapper--actions d-flex">
                    <button class="btn btn-blue noahs_add_section btn-admin">
                        <i class="fa-solid fa-circle-plus"></i>{{ 'Add section'| t }}</button>
                    <button class="btn noahs_paste_in_page btn-admin">
                        <i class="fa-solid fa-paste"></i>{{ 'Paste Section'| t }}</button>
                    {% if noahs_pro %}
                        <button class="btn noahs_open_widget_gallery btn-admin">
                            <i class="fa-solid fa-folder-plus"></i>{{ 'Widgets Gallery' | t }}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>