
{% if theme_type != 'footer' and theme_type != 'header' %}

   {% if noahs_header_html %}

      <header role="banner" class="noahs-pro-theme--header noahs-pro-theme--disabled">
         <div class="nohas-pro-edit-theme"><a href="/noahs-admin/theme_builder/pro_theme/header" target="_blank">{{'Edit Header' | t}}</a></div>
         {{noahs_header_html | raw}}
      </header>
   {% else %}
      <header role="banner" class="noahs-theme--header noahs-pro-theme--disabled">
         {{page.header}}
      </header>
   {% endif %}
{% endif %}
{{ page.content }}
{% if theme_type != 'footer' and theme_type != 'header' %}
   {% if noahs_footer_html %}
   <footer role="banner" class="noash-pro-theme--footer noahs-pro-theme--disabled">
      <div class="nohas-pro-edit-theme"><a href="/noahs-admin/theme_builder/pro_theme/footer" target="_blank">{{'Edit Footer' | t}}</a></div>

      {{noahs_footer_html | raw}}
   </footer>
   {% else %}
      <footer role="banner" class="noahs-pro-theme--disabled">
         {{page.page}}
      </footer>
   {% endif %}
{% endif %}